.login-form-root {
  display: flex;
  flex-direction: column;
  
}

.login-form-root .login-form-field {
  margin-bottom: 42px;
}

.login-button {
  height: 50px;
  padding-top: 15px;
  margin-bottom: 10px;
  color: white;
}