.testimony-box-content {
    width: 52vw;
    height: fit-content;
    margin: auto;
    background-color: #2A3749;
    border-radius: 8px;
    margin-right: 3vw;
    margin-left: 3vw;
    color: #7A92B4;
    max-height: 100%;
    display: flex;
    padding: 3rem 2rem;
}

.img-container {
    margin-right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-icon {
    position: relative;
    float: left;
}

.profile-photo {
    width: 12vw;
    border-radius: 100px;
}

p {
    width: 100%;
}

.description-p {
    text-align: left !important;
    font-size: medium;
}

.description-section {
    width: 30vw;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.identification-section {
    margin-top: 1rem;
}

#name {
    font-size: x-large;
    text-align: left;
    color: white;
}


#position {
    font-size: small;
    color: #BFD1EC;
    text-align: left;
}
