#landing-page-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#info-section {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
  margin-top: 13%;
  margin-right: 3%;
}

#title {
  font-weight: 700;
  color: #000000;
  font-size: 54px;
  font-style: normal;
  letter-spacing: 0.035em;
  line-height: 56px;
  display: flex;
  text-align: left;
}

#lab-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  display: flex;
  text-align: left;
  margin-top: 30px;
}

.btn-ubc-home {
  display: flex;
  width: 219px;
  height: 42px;
  background-color: #77b0f3;
  justify-content: center;
  margin-top: 25px;
}

.btn-ubc-home a {
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  text-decoration: underline;
}

#landing-page-img-container {
  margin-top: 13%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-page-logo {
  width: 300px;
  height: 300px;
}

@media (max-width: 1023px) {
  #landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #info-section {
    margin: auto;
    justify-content: center;
    width: 80%;
    margin-top: 45%;
  }

  #title {
    text-align: center;
    font-size: 40px;
  }

  .btn-ubc-home {
    margin-left: auto;
    margin-right: auto;
  }

  #lab-description {
    text-align: center;
  }

  #landing-page-img-container {
    height: 0;
    visibility: hidden;
  }
}

@media (max-width: 768px) {
  #landing-page-container {
    width: 100%;
  }

  #info-section {
    width: 100%;
  }
}
