#landing-page-container {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

#info-section {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  flex: 1;
  margin-top: 13%;
  margin-right: 3%;
}

#title {
  font-weight: 700;
  color: #000000;
  font-size: 4vw;
  font-style: normal;
  letter-spacing: 0.035em;
  display: flex;
  text-align: left;
}

#lab-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.04em;
  display: flex;
  text-align: left;
  margin-top: 30px;
}

.btn-ubc-home {
  display: flex;
  width: 219px;
  height: 42px;
  background-color: #77b0f3;
  justify-content: center;
  margin-top: 25px;
}

.btn-ubc-home a {
  font-weight: 700;
  letter-spacing: 0.04em;
  font-size: 15px;
  line-height: 19px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}

a:hover {
  text-decoration: underline;
}

#landing-page-img-container {
  margin-top: 13%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  overflow: hidden;
  max-width: 50%;
}

#landing-page-img-placeholder {
  background: #c4c4c4;
  padding: 10px;
  width: 491px;
  height: 296px;
  flex: 1;
}

@media (max-width: 1023px) {
  #landing-page-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #info-section {
    margin: auto;
    justify-content: center;
    max-width: 70%;
    margin-top: 12vh;
  }

  #title {
    text-align: center;
    font-size: 40px;
  }

  .btn-ubc-home {
    margin-left: auto;
    margin-right: auto;
  }

  #lab-description {
    text-align: center;
  }

  #landing-page-img-container {
    margin: auto;
    margin-top: 50px;
    justify-content: center;
    overflow: hidden;
    height: 150px;
  }
}

@media (max-width: 768px) {
  #landing-page-container {
    width: 100%;
  }
}

@media (max-width: 540px) {
  #info-section {
    margin-top: 20vh;
  }
  #title {
    font-size: 9vw;
  }
}
