.default-card-box-content {
    margin: auto;
    
    border-radius: 8px;
    margin-right: 10px;
    margin-left: 10px;
    color: #7A92B4;
    height: fit-content;
    background-color: #2A3749;
    padding: 1rem 1rem;
}

/* .default-image-container {
    width: 90%;
    margin-top: 1.5rem;
} */

/* .default-gallery-img {
    width: 100%;
    margin: auto;
} */

.gallery-title {
    font-size: large;
    margin: 1rem;
    text-align: center;
    color: white;
    text-decoration: underline;
}

.gallery-description {
    font-size: small;
    text-align: center;
    color: white;
}