@import '../../index.css';

.TimelineSearchbar {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 90px;
    margin: 25px 0 20px 0;
    background-color: var(--fc-navyblue);
}

.inputRounded .MuiOutlinedInput-root{
    border-radius: 10px;
    background-color: var(--fc-white);
 }

.searchBarRounded {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 650px;
    background-color: var(--fc-navyblue);
}


@media only screen and (max-width: 650px) {
    .searchBarRounded {
       width: calc(100% - 100px);
    }
}