
body{
    max-width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0%;
}

.Join {
    background-color: #FAFAFA;
    max-width: 100%;
    width: 100%;
    position: relative;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: -2000px;
}

.Join p + p,
.Join ul + p {
    margin-top: 12px;
}

section {
    margin: 2em 0;
}

.Join .join-header {
    position: relative;
    top: 3.68%;
    padding-top: 130px;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}

.Join .join-header * {
    text-align: center;
}

.Join .join-sub-header {
    color: #535353;
    margin-top: 8px;
}


.join-divider {
    text-align: left;
    width: min(100%, 1000px);
    margin: 38px auto;
	border: 1.2px solid #8c9fc2;
}

.join-header h1 {
    font-weight: 700;
    font-size: 35px;
    max-width: 100%;
}

.join-main-body h2 {
    text-align: left;
    font-family: 'Source Sans Pro' !important;
    font-weight: 800;
    font-size: 24px;
    margin: 0.8em 0;
    color: #1C426D;
}

.join-main-body h3 {
    font-size: 16px;
    color: #000000;
    max-width: 100%;
}

.join-main-body {
    text-align: left;
    width: min(80%, 1000px);
    margin: 48px auto;
}

.join-main-body p {
    line-height: 1.5;
}

.join-announcements {
    position: relative;
    background-color: #1C426D;
    width: 100%;
    height: 76px;
    font-family: 'Arial';
    font-size: 15px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #ffffff;
    display: flex;
}

.img_placeholder {
    height: 371px;
    background: #DAE2E4;
    border-radius: 8px;
    width: 100%;
    position: relative;
    max-width: 100%;
}

.Join .join-main-body ul {
    margin-left: 32px;
}

.Join .join-main-body ul li {
    position: relative;
    margin: 8px 0;
}

.Join .join-main-body ul li::before {
    content: "";
    position: absolute;
    width: 20px;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    left: -32px;
    top: 2px;
}

.Join .join-main-body ol {
    margin-left: 32px;
}

.Join .join-main-body ol li {
    position: relative;
    margin: 8px 0;
}

.Join .join-main-body ol li::before {
    content: "";
    position: absolute;
    width: 20px;
    aspect-ratio: 1 / 1;
    background-size: cover;
    background-position: center;
    left: -32px;
    top: 2px;
}

.join-responsability-list li::before { 
    background-image: url("task.png");   
}

.join-value-list li::before { 
    background-image: url("tick.png");   
}

.join-gain-section {
    padding: 48px 10%;
    background-color: #FFFFFF;
    color: #3f3f3f;
}

.join-gain-section h2 {
    text-align: center;
    margin-top: 0;
}

.join-contact {
    width: 80%;
    margin: 48px auto;
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 24px;
}

.join-map-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.join-contact-info {
    text-align: left;
}

.join-contact-info h2 {
    margin-top: 0;
}

.join-contact-info ul {
    margin-top: 8px;
    margin-left: 16px;
}

.join-contact-info ul li {
    margin: 0;
}

@media (max-width: 1023px) {
    .join-main-body {
        width: 90%;
    }
    .join-gain-section {
        padding: 48px 5%;
    }
    .join-contact {
        width: 90%;
    }
    .Join .join-sub-header {
        font-size: 14px;
    }
}

@media (max-width: 767px) {  
    .join-contact {
        grid-template-columns: 1fr;
    }
}
