h1 {
    text-align: center;
}
h4 {
    color: #535353;
}

.main-content {
    margin-top: 5.3rem;
}

.project-header {
    margin-top: 10rem;
}

.page-description {
    margin: 2rem 0;
}

.page-nav {
    width: 70%;
    margin: auto;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.nav-item {
    border-left: 1px rgba(0, 0, 0, 0.2) solid;
} 

.hover-item {
    border-radius: 5px;
    margin: 0 .5rem;
    transition: background-color 1s ease-in;
    transition: color 0.1s ease-out;
    padding: .5rem 0;
    user-select: none;
}

.hover-item:hover {
    cursor: pointer;
    background-color: rgb(28, 66, 109);
    color: white;
}

.selected-item {
    background-color: rgb(28, 66, 109);
    color: white;
}

.page-nav .nav-item:first-child {
    border-left: none; /* Remove border from the first item */
}

.member-list {
    width: full;
    padding: 1rem 0;
}

.member {
    width: 50%;
    height: 9rem;
    margin: auto;
    margin-top: 1rem;
    display: flex;
    color: black;
    border: 1px rgba(0, 0, 0, 0.05) solid; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem 0;
}

.image-container {
    width: 20%;
}

.image {
    width: 55%;
    background-color: black;
    border-radius: 100px;
}

.info-container {
    width: 80%;
}

.name {
    color: black;
}

h3 {
    color: #A1A1A1;
}

.message {
    font-size: small;
    text-align: left;
}

.contact-container {
    display: flex;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 0.5rem;
}

.contact-item {
    text-align: center;
    color: black !important;
    font-weight: normal;
    border-left: 1px rgba(0, 0, 0, 0.2) solid;
    padding: 0 1rem;
}

.contact-container, .contact-item:first-child {
    border-left: none;
}