@import "css/components/AlertPopup.css";
@import "css/components/Card.css";
@import "css/components/Footer.css";
@import "css/components/HeroSection.css";
@import "css/components/LoginForm.css";
@import "css/components/LoginView.css";
@import "css/components/MissionStatement.css";
@import "css/components/MobileNavbar.css";
@import "css/components/Navbar.css";
@import "css/components/Project.css";
@import "css/components/ProjectNavbar.css";
@import "css/components/ProjectDefault.css";
@import "css/components/ProjectOverviewCard.css";
@import "css/components/ProjectPeople.css";
@import "css/components/ProjectTeam.css";
@import "css/components/ProjectWrapper.css";
@import "css/components/TimelineCommitBlock.css";
@import "css/components/TimelineSearchbar.css";
@import "css/components/TimelineCommitBlock.css";
@import "css/components/TimelineFilter.css";
@import "css/components/TitleCard.css";

@import "css/pages/Home.css";
@import "css/pages/About.css";
@import "css/pages/Timeline.css";
@import "css/pages/ProjectOverview.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  --ff-primary: "Inter", sans-serif;
  --fc-white: #ffffff;
  --fc-darkest: #000;
  --fc-darker: rgba(0, 0, 0, 0.8);
  --fc-dark: #b2b2b2;
  --fc-navyblue: #1c426d;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
