@import '../../index.css';

.timeline-header {
    max-width: 100%;
    margin-top: 5%;
    margin-left: 43%;
    padding-top: 30px;
    text-transform: uppercase;
    line-height: 48px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.timeline-sub-header {
    color: #535353;
    margin-left: 37.5%;
    margin-top: 2%;
}

 .searchBarBadge {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 120px;
    margin: 40px 0 40px 0;
    background-color: var(--fc-navyblue);
 }

 .main-body-filter {
    display: flex;
    align-items: center;
    justify-content: center;
 }

.timeline-main-body {
    text-align: left;
    width: min(90%, 1065px);
    margin: 0 auto;
}

.timeline-container ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.timeline-container ul li {
    margin: 40px 0px 40px 32px;
    position: relative;
}

.timeline-container ul li span {
    content: '';
    position: absolute;
    top: 0;
    left: -30px;
    width: 0px;
    height: 100%;
    border: 1px dashed rgb(218, 218, 218);
}

.timeline-container-span-correlation:before{
    border: 2px solid #6776fe;
    background-color: #6776fe;
    /* margin-left: 32px; */
}

.timeline-container-span-nova:before{
    border: 2px solid #fece25;
    background-color: #fece25;
}

.timeline-container-span-ideo:before{
    border: 2px solid #f66364;
    background-color: #f66364;
}

.timeline-container-span-others:before {
    border: 2px solid #848484;
    background-color: #848484;
}

.timeline-container ul li span:before {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
}

.timeline-container ul li span:before{
    top: -2px;
    left: -12px;
}

@media (max-width: 650px) {
    .timeline {
        width: 647px;
        margin-top: 130px;
        padding-right: -10px;
    }

    .timeline-header {
        margin: 0 auto;
    }

    .timeline-header h1 {
        width: fit-content;
        height: fit-content;
        text-align: center;
        margin: 0 auto;
    }

    .timeline-sub-header {
        width: fit-content;
        height: fit-content;
        text-align: center;
        margin: 0 auto;
        margin-top: 5px;
    }

    .timeline-commit-header-text {
        width: 85%;
        margin-bottom: 5px;;
    }

    /*
    .filter-dropdown {
        visibility: hidden;
        height: 0;
    }
    */

    .timeline ul {
        width: 103%;
    }

    .timeline-commit-date {
        width: 100px;
        margin-top: 20px;
        text-align: left;
    }

    .footer {
        width: 170%;
        font-size: 25px;
    }

    .footer h3 {
        font-size: 25px;
    }

    
}

@media (max-width: 1023px) {
    .timeline-main-body {
        width: 90%;
    }
}

.error-string {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
