.card-section {
  width: min(80%, 1000px);
  margin: 5% auto;
}

.Home {
  font-family: "Source Sans Pro";
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 5%;
}

/* mission statement section */

.mission-title-underline {
  position: absolute;
  width: 18%;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #77b0f3;
}

.mission-statement-container {
  width: 60%;
  margin: 5% auto;
}

.mission-statement-title {
  position: relative;
  margin: 32px 0;
  padding: 16px 0;
}

.mission-statement-title p {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.025em;
}

.mission-statement {
  font-size: 18px;
  text-align: justify;
}

.mission-img-container {
  width: 65%;
  margin: 48px auto;
  display: flex;
  gap: 24px;
}

/* Current Projects Section */

.projects-container {
  width: 80%;
  margin: 2% auto 8%;
}

.projects-title {
  position: relative;
  margin: 32px 0;
  padding: 16px 0;
}

.projects-title p {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: 0.025em;
}

.projects-title-underline {
  position: absolute;
  width: 15%;
  height: 3px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #77b0f3;
}

.project-logos-img {
  width: 50%;
  height: 50%;
}

@media (max-width: 1023px) {
  .mission-statement-container {
    width: 80%;
    margin: 10% auto;
  }

  .mission-statement-title p {
    font-size: 24px;
  }

  .projects-container {
    width: 80%;
  }

  .projects-title p {
    font-size: 24px;
  }
}

@media (max-width: 767px) {
  .projects-img-container {
    width: 100%;
    flex-direction: column;
  }

  .mission-statement {
    text-align: left;
  }
}
