
.label {
    font-family: 'Source Sans Pro';
    font-size: 16px;
    color: #777;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: start;
}

.dateGroup {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4px;
}

.select {
    border: 1px solid #ddd;
    border-radius: 2px;
    font-size: 16px;
    padding: 4px;
    color: #333;
    cursor: pointer;
}

.select:focus {
    outline-color: black;
}

.option {
    color: #333;
    cursor: pointer;
}