.footer-divider {
    width: 20%;
    margin: clamp(24px, 2vw, 36px) auto;
    height: 3px;
    border: none;
    color: #7C9DAF; 
}

.lab-goals-footer {
    padding: 8px 15% clamp(48px, 4vw, 62px);
    background-color: #D9E3E7;
}

.lab-goals-text {
    font-size: 14px;
    letter-spacing: 0.035em;
    text-align: center;
}

@media (max-width:1023px) {
    .footer-image-container {
        width: 70%;
    }
    .mission-statement-footer {
        padding: 16px 5% 48px;
    }
}