.filter-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 4px 6px 8px 4px rgba(197, 197, 197, 0.25);
    padding: 2px 15px 2px 15px;
    margin: 0 5px;
}

.filter {
    display: flex;
}

.filter-divider {
    content: '';
    display: inline-block;
    margin: 10px;
    width: 0px;
    height: 25px;
    border: 0.7px solid #e2e2e2;
}

.filter-dropdown-text {
    display: inline-block;
    color: #7e7e7e;
    margin-right: 10px;
}