@import '../../../../index.css';

.project-subcontent-container {
    background-color: #FAFAFA;
    margin-bottom: -38px;
}

body {
    width: 100%;
}

.content-container {
    display: inline-block;
    text-align: center;
    justify-content: center;
    width: 100%;
}

.project-team {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    position: relative;
    /* top: -50vh; */
}

.team-header {
    font-weight: 700;
    color: var(--fc-navyblue);
    font-family: 'Source Sans Pro';
    font-size: 33.05px;
    line-height: 42px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.team-content {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

p {
    text-align: center;
}

hr {
    border-left: 10px solid #8ea9d2;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 100%;
}

h2 {
    text-align: center;
}

.button_container {
    display: flex;
    flex-direction: row;
    position: relative;
    max-height: 31px;
    justify-content: flex-end;
    width: 100%;

}

.info-container {
    padding-top: 2%;
    margin-left: 10%;
}

.team-container {
    padding-bottom: 7.5%;
}

.add-mem-button-div {
    color: white;
    width: fit-content;
    padding: .5rem 1.25rem;
    height: full;
    background-color: #80A3CC;
    border-radius: 25px;
    margin-left: auto;
}

.add-mem-button-div:hover {
    cursor: pointer;
    user-select: none;
    background-color: #3980d0;
    transition: background-color .25s;
}