.team-header {
  width: 80%;
  margin:auto;
}


.team-member {
  min-height: 10rem;
  margin: auto;
  margin-top: 1rem;
  width: 80%;
  /* display: flex; */
  color: black;
  border: 1px rgba(0, 0, 0, 0.05) solid;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 20px 30px;
}

.member-name {
  font-size: 20px;
}

.member-role {
  color: #a1a1a1;
}

.team-container {
  padding:50px;
}

br {
  display: block;
  content: "";
  margin-top: 7px;
}

.member-photo-container {
  padding-right:15px;
}

.member-flex-wrapper {
  display:flex;
}