@import '../../index.css';

.Resources {
    background-color: #FAFAFA;
    max-width: 100%;
    width: 100%;
    position: relative;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    padding-bottom: -2000px;
}

.Resources .header {
    position: relative;
    margin-top: 5%;
    padding-top: 2%;
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}

.Resources .header * {
    text-align: center;
}

.header h1 {
    font-weight: 700;
    font-size: 35px;
    max-width: 100%;
}

.Resources .sub-header {
    color: #535353;
    margin-top: 8px;
}

.banner {
    background-color: var(--fc-navyblue);
    margin: 45px 0;
    padding: 25px 15vw;
}

.banner-text {
    position: relative;
    text-align: center;
    color: white;
    font-size: 19px;
}

.resources-section-one-text {
    float: center;
    text-align: left;
    width: 40%;
    margin: 0% 7% 0% 5%;
    line-height: 0.98;
}

.text-one 
.text-two {
    float: left;
    font-size: 20px;
    font-weight: 800;
}

.text-two {
    padding-top: 0;
    padding-bottom: 10px;
    border-bottom: 3px solid rgb(116, 169, 215);
    display: inline;
}

.resource-tool-section-one {
    width: min(95%, 1500px);
    margin: 8% auto;
    display: flex;
}

.resource-tool-section-two {
    width: min(84%, 1300px);
    margin: 12% auto;
    display: flex;
}

.resource-tool-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    flex-wrap: wrap;
    width: 100%;
}

.resource-material-item {
    width: 18%;
}

@media (max-width: 900px) {

    .Resources .header {
        margin-top: 23vh;
    }

    .resource-tool-section-one {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .resource-tool-section-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .resources-section-one-text {
        display: flex;
        float: center;
        text-align: left;
        margin: 0 35% 10% 30%;
        line-height: 0.98;
    }

    .resources-section-one-text {
        display: flex;
        float: center;
        text-align: left;
        margin: 0 25% 10% 10%;
        line-height: 0.98;
        width: 500px;
    }

    .text-one {
        padding-top: 0;
        padding-bottom: 10px;
        border-bottom: 3px solid rgb(116, 169, 215);
        display: inline;
    }

    .resource-tool-container {
        display: flex;
        justify-content: space-between;
        gap: 8px;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 18%;
    }

    .resource-tool-item {
        width: 30%;
    }
  }

@media (max-width: 900px) {
    .resources-section-one-text {
        display: flex;
        float: center;
        text-align: left;
        margin: 0 25% 10% 10%;
        line-height: 0.98;
        /* width: 500px; */
    }

    .resource-tool-item {
        width: 48%;
    }

    .resource-material-item {
        width: 90%;
    }
}