.resources-overview-container {
    margin: 10rem auto;
    padding: 0 4rem;
    max-width: 1500px;
}

@media (min-width: 1000px) {
    .resource-content-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 20px;
        grid-row-gap: 20px;

    }
}

