@import '../../index.css';

.timeline-commit-block {
    text-align: left;
    cursor: pointer;
    background-color: var(--fc-white);
    box-shadow: 4px 6px 13px -1px rgba(162, 162, 162, 0.25);
    border-radius: 5px;
}

.timeline-commit-header-text {
    float: left;
}

.timeline-commit-header-icons {
    display: flex; 
    justify-content: flex-end;
}

.vl {
    border-left: 1.5px solid rgb(188, 188, 188);
    margin: 0 8px;
    height: 25px;
  }

.timeline-commit-date {
    color: rgb(152, 152, 152);
    font-size: 15px;
    margin-top: 6px;
}

.expandedTimeline, 
.closedTimeline {
    padding: 15px 20px 16px 17px;
    box-shadow: 4px 6px 13px -1px rgba(225, 225, 225, 0.25);
    border-radius: 8px;
}

.timeline-commit-tag-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

    font-size: 15px;
    margin-top: 12px;
}

.timeline-commit-tag {
    color: rgba(28,66,109,255);
    background-color: rgba(213,218,225,255);
    padding: 5px 17px;

    margin-right: 10px;
    border-radius: 8px;
}

.timeline-commit-descriptions-container {
    padding: 8px 0;
}

.timeline-commit-contributors-container {
    
}

.descriptions-content, 
.contributors-content, 
.hyperlinks-content {
    color: rgb(98, 98, 98);
}

.descriptions-content {
    margin-top: 12px;
}

.contributors-content {
    display: inline;
    margin-top: 12px;
}

.hyperlinks-content {
    padding-bottom: 5px;
}

.timeline-commit-hyperlink, 
.timeline-commit-contributor {
    color: rgb(98, 98, 98);
    margin: 15px 0;
}

.timeline-commit-updatedTime {
    color: rgb(98, 98, 98);
    text-align: right;
    margin: 4px 0;
}

.timeline-commit-divider {
    margin: 15px 0 10px 0;
    border: 1.5px solid rgb(226, 226, 226);
}

.delete-entry-icon {
    color: rgb(188, 188, 188);
}

.delete-entry-icon:hover {
    color: red;
    cursor: pointer;
}

.edit-entry-icon {
    color: rgb(188, 188, 188);
}

.edit-entry-icon:hover {
    color: var(--fc-navyblue);
    cursor: pointer;
}