#project-breadcrumbs {
    color: #798FB0;
    font-size: 15px;
    line-height: normal;
    letter-spacing: 0.3px;
    padding-left: 15px;
    padding-right: 15px;

}

.current-page {
    color: #AEC7EC;
    padding-left: 15px;
}