.container {
  display: none;
  position: sticky;
  height: 132px;
  z-index: 9998 !important;
}

.mobile-header {
  padding: 16px;
  margin-bottom: 30px;
  background-color: #f8f8f8 !important;
}

.mobile-logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 8px;
  line-height: 12px;
  text-transform: uppercase;
  color: #000000;
  padding-top: 3px;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

@media only screen and (max-width: 700px) {
  .container {
    display: block;
  }
}

.bm-overlay + div {
  height: 0;
}

.bm-burger-button {
  position: relative;
  width: 36px;
  height: 26px;
  top: 7px;
}

.bm-burger-bars {
  background: #434343;
  border-radius: 49px;
  border-width: 2px;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar styling
  */
.bm-menu-wrap {
  position: fixed;
  height: 100%;
  left: 0%;
}

.bm-menu {
  background: #f8f8f8;
  color: black;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  padding: 2.5em 1.5em 0;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.bm-item {
  display: inline-block;
  color: #000000;
  margin-bottom: 10px;
  text-align: left;
  text-decoration: none;
  transition: color 0.2s;
}

.bm-item:hover {
  color: blue;
}
