.ubc-logo{
    margin-right: 80%;
}

.footer{
    background-color: #F2F2F2;
    padding: 4rem 1rem;
    margin: 0 auto;
}

.footer a{
    text-decoration: none;
    color: black;
}

.footer li{
    list-style: none;

}

.footer-main{
    display: flex;
    margin-bottom: 4rem;
}

.footer-column{
    flex-basis: 200px;
    flex-grow: 1;
    text-align: center;

}

.footer-heading{
    margin-bottom: 1rem;
    text-align: left;
}

.footer-link{
    display: block;

    padding: 5px 10px;
    margin: 0 auto;
    text-align: left;

}

.horizontalLine {
    border: none;
    border-bottom: 1px solid gainsboro;
    max-width: 80%;
}

.campus-text{
    margin-top: 2%;
    text-align: left;
}

@media only screen and (max-width: 768px){
    .footer-main{
        flex-direction: column;
    }
}
