@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

.ResourcesTool {
  width: 120px;
  height: 150px;
  padding: 20px 5px 0px;
  /* box-shadow: 4px 6px 13px -1px rgba(225, 225, 225, 0.25); */
  box-shadow: 4px 6px 13px 10px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

#resource-tool-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 15px;
  font-weight: 550;
  text-align: left;
  margin: 42px 28px 10px 28px;
}

.resource-tool-section-one, 
.resource-tool-section-two {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.resource-tool-section-one {
  height: 49px;
  padding: 30px 20px 0;
}

@media (max-width: 768px) {
  .ResourcesTool {
    /* width: 40%; */
    width: 120px;
    margin: 5px;
    padding: 20px 5px 0px;
  }
  
}
