.add-resource-content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    /* Adjust the z-index based on your needs */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);

}

.add-resource-content {
    background-color: white;
    width: 90%;
    padding: 1rem;
    box-shadow: 0px 30px 30px 0px rgba(0, 0, 0, 0.25);
    max-width: 1200px;
    border-radius: 8.076px;
}

.add-resource-content-title-container,
.add-resource-content-title-container h1 {
    margin: auto;
    text-align: center;
    font-size: x-large;
}

.add-resource-close-tab-container {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.add-resource-input-containers {
    display: grid;
    height: 90%;
    padding: 1rem;
    grid-row-gap: 10px;
    margin: auto;
}

.add-resource-input h2 {
    font-size: medium;
}

.add-resource-input p {
    margin: 0;
}

.add-resource-file-input {
    margin: 1rem 0;
}

.add-resource-title-input-container h2,
.add-resource-title-input-container input {
    height: fit-content;
}

.add-resource-input input,
.add-resource-input textarea {
    font-size: small;
    font-family: 'Poppins';
}

.add-resource-submit-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
}

#add-resource-submit-button {
    height: 40px;
    padding: 0 1rem;
    background-color: #1C426D;
    border-radius: 8.076px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#add-resource-submit-button h2 {
    font-size: medium;
}

.add-resource-input-containers-child {
    max-width: 600px;
    margin: auto !important;
    margin-top: 0;
    width: 80%;
    height: 100%;
    text-align: start;
}

.add-resource-close-tab-button {
    cursor: pointer;
}

.add-resource-file-input-delete-button {
    border-radius: 8.076px;
    background: #1C426D;
    padding: 0.5rem 1rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.after-submit-message {
    text-align: center;
}