.title-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.section-title {
    line-height: 45px;
    letter-spacing: 2.5px;
    margin-bottom: 6%;
}

.section-title-underline {
    border-bottom: 4px solid #8EA9D2;
    width: 110px;
    margin-bottom: 50px;
}

h1, h2 {
    margin: 0;
    padding: 0;
    text-align: left;
}